/* Paleta de Cores */
:root {
    color: - #1E0C21 - #651F70 - #FECD23 - #2637DB - #3C5BEE - #73CEFF - #F5F5F5;
}

body {
    background-color: #F5F5F5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container {
    background: rgb(29, 12, 32);
    background: linear-gradient(180deg, rgba(29, 12, 32, 1) 0%, rgba(101, 31, 113, 1) 100%);
    margin: auto;
    width: 44rem;
    box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    overflow: hidden;
}

header {
    color: #F5F5F5;
    text-align: center;
    padding: 1rem;
}

.header-title {
    color: #FECD23;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.header-subtitle {
    margin-bottom: 1rem;
}

span {
    font-weight: 600;
}

.form-register {
    background: rgb(29, 12, 32);
    background: linear-gradient(0deg, rgba(29, 12, 32, 1) 0%, rgba(101, 31, 113, 1) 100%);
    margin: auto;
    width: 39rem;
    box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
}

.form-title {
    color: #F5F5F5;
    font-size: 1.5rem;
    font-weight: 500;
}

input {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 28rem;
    height: 1.5rem;
    padding: 0.3rem;
    border: none;
    border-radius: 0.3rem;
    margin-top: 1.5rem;

}

.cards {
    display: flex;
}

.card {
    display: flex;
    gap: 1.5rem;
    background: rgb(52, 41, 136);
    background: linear-gradient(0deg, rgba(52, 41, 136, 1) 0%, rgba(38, 55, 219, 1) 100%);
    margin: auto;
    width: 10rem;
    box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.2);
    margin-top: 2rem;
    border-radius: 0.5rem;
    padding: 0.7rem;
}

.card-esportes {
    background: rgb(114, 204, 254);
    background: linear-gradient(0deg, rgba(114, 204, 254, 1) 0%, rgba(61, 93, 239, 1) 100%);
    margin-left: -0.3rem;
    margin-right: -0.3rem;
    margin-bottom: -0.3rem;
}

.card-simulacao {
    background: rgb(114, 204, 254);
    background: linear-gradient(0deg, rgba(114, 204, 254, 1) 0%, rgba(61, 93, 239, 1) 100%);
    margin-left: -0.3rem;
    margin-right: -0.3rem;
    margin-bottom: -0.3rem;
}

.card-estrategia {
    background: rgb(114, 204, 254);
    background: linear-gradient(0deg, rgba(114, 204, 254, 1) 0%, rgba(61, 93, 239, 1) 100%);
    margin-left: -0.3rem;
    margin-right: -0.3rem;
    margin-bottom: -0.3rem;
}

.card-title {
    color: #F5F5F5;
    font-weight: 500;
    padding-top: 1rem;
    font-size: 1.3rem;
}

object {
    width: 8rem;
}

button {
    background-color: #1E0C21;
    border: none;
    border-radius: 0.3rem;
    width: 5rem;
    padding: 0.7rem;
    color: #F5F5F5;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

footer {
    color: #F5F5F5;
    font-size: 0.8rem;
    padding: 0.7rem;
    text-align: center;
}

@media screen and (max-width: 620px) {
    .container {
        width: auto;
    }

    .header-subtitle {
        font-size: 0.9rem;
    }

    .form-register {
        width: 17rem;
    }

    .cards {
        flex-direction: column;
    }

    input {
        width: 16rem;
    }

    button {
        font-size: 1rem;
    }

    footer {
        font-size: 0.6rem;
    }
}